<div class="container">
    <h5>Add Item</h5>

    
<form (ngSubmit)="onSubmit()" #itemForm="ngForm" novalidate>

    <div class="row" style="margin-top:10px">
        <div class="col" style="margin-top:5px">
            Item
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col">
            <input type="text" class="col-12 form-control" id="item_field" [(ngModel)]="gift.item"  name="item" #item="ngModel" required>  
        </div>
    </div>


    <div class="row" style="margin-top:10px">
        <div class="col" style="margin-top:5px">
            Link
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col">
            <input type="text" class="col-12 form-control" id="link_field" [(ngModel)]="gift.link" name="link" #link="ngModel"  required>  
        </div>
    </div>


    <div class="row" style="margin-top:10px">
        <div class="col" style="margin-top:5px">
            <button id="submit_token" type="submit" class="btn btn-success" [hidden]="!itemForm.form.valid">Submit</button>
        </div>
    </div>

            

</form>



</div>
