<div class="container" style="margin-top:20px">
    <h5>Add Item</h5>

    
<form (ngSubmit)="onSubmit()" #itemForm="ngForm" novalidate>

    <div class="row" style="margin-top:10px">
        <div class="col" style="margin-top:5px">
            Item
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col">
            <input type="text" class="col-12 form-control" id="item_field" [(ngModel)]="gift.item"  name="item" #item="ngModel" required (keyup)=onKeyupEvent($event)>  
            <input type="hidden" id="uid_field" [(ngModel)]="gift.uid"  name="uid" #uid="ngModel" required>  
        </div>
    </div>

    <div class="row" style="margin-top:10px" *ngIf="me.uid != gift.uid">
        <div class="col">          
                <input type="checkbox"  id="surpriseCheckbox"
                [(ngModel)]="gift.surprise" name="pp" #pp="ngModel">  surprise (don't show {{gift.displayName}})
        </div>
    </div>

    

    <span *ngIf="gift != null && gift.item != null && gift.item.trim() !== ''">
    <div class="row" style="margin-top:10px">
        <div class="col">
            <a class="btn" style="background-color:black;color:#ffffff" href="{{amazonLink}}" target="findit">
                <img src="assets/amazon.png" height="25"> Search for that item here</a>
        </div>
    </div>

    <div class="row" style="margin-top:10px">
        <div class="col" style="margin-top:5px">
            Paste the link here when you find it  (optional)
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col">
            <input type="text" class="col-12 form-control" id="link_field" [(ngModel)]="gift.link" name="link" #link="ngModel">  
        </div>
    </div>


    <div class="row" style="margin-top:10px">
        <div class="col" style="margin-top:5px">
            <button id="submit_token" type="submit" class="btn btn-success" [hidden]="!itemForm.form.valid">Submit</button>
        </div>
    </div>
    </span>

            

    <div class="row" style="margin-top:30px">
        <div class="col" style="margin-top:5px">
            Deliver on
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-lg-12">
            <app-date-chooser [from]="defaultFrom" [to]="defaultTo" (dateRangeSelection)="onDateRangeSelection($event)"></app-date-chooser>
        </div>
    </div>

</form>


</div>
