<div class="container" style="margin-top:20px">
<h3>My Cart</h3>



<span *ngIf="gifts">
<div class="row" *ngFor="let gift of gifts">
    <div class="col-11" style="margin-top:10px;margin-left:10px;margin-right:10px;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;border-radius:5px;border:1px solid #777777">
        <div class="row">
            <div class="col-10" style="padding-top:5px">
                For: {{gift.displayName}} 
                <!-- docId: {{gift.docId}} if you're interested -->
            </div>  
            <div class="col-1" style="padding-top:5px">
                <!-- return item -->
                <a (click)="returnItem(gift)" title="return item"><i class="fas fa-undo"></i></a>
            </div>     

        </div>
        <div class="row">
            <div class="col-10" style="padding-top:5px">
                <span *ngIf="gift.link != null"><a href="{{gift.link}}" target="gift">{{gift.item}}</a></span>
                    
                <span *ngIf="!gift.link">{{gift.item}}</span>
            </div>     

        </div>
    </div>
</div>
</span>



</div>